In [1]:
import pandas as pd
import chardet

---
### Analyse exploratoire fichier dispo alimentaire 2017
---

In [2]:
with open('../database/DisponibiliteAlimentaire_2017.csv', 'rb') as f:
    contenu = f.read()

resultat = chardet.detect(contenu)
print(resultat)

{'encoding': 'UTF-8-SIG', 'confidence': 1.0, 'language': ''}

In [3]:
dispo = pd.read_csv('../database/DisponibiliteAlimentaire_2017.csv', sep=',', encoding='utf-8-sig', dtype=str)
dispo.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701,S,Données standardisées

In [4]:
dispo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176600 entries, 0 to 176599
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Code Domaine            176600 non-null  object
 1   Domaine                 176600 non-null  object
 2   Code zone               176600 non-null  object
 3   Zone                    176600 non-null  object
 4   Code Élément            176600 non-null  object
 5   Élément                 176600 non-null  object
 6   Code Produit            176600 non-null  object
 7   Produit                 176600 non-null  object
 8   Code année              176600 non-null  object
 9   Année                   176600 non-null  object
 10  Unité                   176600 non-null  object
 11  Valeur                  176600 non-null  object
 12  Symbole                 176600 non-null  object
 13  Description du Symbole  176600 non-null  object
dtypes: object(14)
memory usage: 18.9+ MB

In [5]:
dispo.describe()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
count,176600,176600,176600,176600,176600,176600,176600,176600,176600,176600,176600,176600,176600,176600
unique,1,1,174,174,17,17,98,98,1,1,4,7251,2,2
top,FBS,Nouveaux Bilans Alimentaire,39,Tchad,5301,Disponibilité intérieure,2514,Maïs et produits,2017,2017,Milliers de tonnes,0,S,Données standardisées
freq,176600,176600,1416,1416,15905,15905,2593,2593,176600,176600,118487,72526,118487,118487

---
### Analyse exploratoire fichier population 2000-2018
---

In [6]:
with open('../database/Population_2000_2018.csv', 'rb') as f:
    contenue = f.read()

resultate = chardet.detect(contenue)
print(resultate)

{'encoding': 'UTF-8-SIG', 'confidence': 1.0, 'language': ''}